body {
    background: linear-gradient(to top, #a80077, #66ff00);

}



.jumbotron-fluid {
    background-image: url("concrete-road.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    width: 100%;
}
 .limeText {
    color: lime;
}



.nav{
    width: 30%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      )

}

.navbar{
    font-family: 'Roboto', sans-serif;
    color: lime;

}



h1{
font-family: 'Roboto', sans-serif;

}

#playlist iframe {
    border: solid 10px gray;
}