body {
    background-color: black;

}

.jumbotron-fluid {
    background-image: url("concrete-road.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}

.navbar{
    background: transparent;
    font-family: 'Roboto', sans-serif;

}

h1{
font-family: 'Roboto', sans-serif;

}